body * {
    border: 1px solid rgb(201, 201, 201);
}

body {
    font-family: "Roboto", serif;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 10%;
}

/*Main element vertical block sizes*/
.main-menu {
    flex-grow: 1;
}
.header-container {
    flex-grow: 1;
}
.content-main {
    flex-grow: 1;
}
.content-other {
    flex-grow: 1;
}
.call-to-action-container {
    flex-grow: 1;
}
.footer {
    flex-grow: 1;
}

.main-menu {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.main-menu-img-container {
    display: flex;
}

.main-menu-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
.main-menu-logo-container > img {
    width: 100px;
}
.main-menu-logo-container > p {
    font-size: 28px;
    color: #f9faf8;
}

.main-menu-links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 10px;
    align-items: center;
}

a {
    margin: 5px;
    padding: 5px;
}

.header-container {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
}

.left-container {
    padding: 30px;
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
.left-container > h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}
.left-container > p {
    font-size: 18px;
    color: #e5e7eb
}

.right-container {
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 40px;
}
.right-container > img {
    max-width: 100%;
}

.content-main {
    display: flex;
    flex-direction: column;
}

.content-main h1 {
    text-align: center;
    padding: 10px;
}
.content-main > h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 1;
}

.card-image {
    height: 150px;
    margin-bottom: 10px;
}
.card-image > img {
    height: 100%;
}

.card-description {
    margin: 5px 0px;
}

.content-other {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-quote {
    padding: 5px 100px 0px 100px;
}

.text-quote-author {
    text-align: right;
    padding-right: 30vw;
}

button {
    background-color: #3882f6;
}

.call-to-action-container {
    background-color: #3882f6;
}
