body * {
    border: 1px solid rgb(201, 201, 201);
}

body {
    border: 1px solid red;
    font-family: "Roboto", serif;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 10%;
}

/*Main element block sizes*/
.main-menu {
    flex-grow: 1;
}
.header-container {
    flex-grow: 1;
}
.content-main {
    flex-grow: 1;
}
.content-other {
    flex-grow: 1;
}
.contacts {
    flex-grow: 1;
}
.footer {
    flex-grow: 1;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
}
.main-menu-img-container {
    display: flex;
}
.main-menu-img-container > img {
    height: 100%;
}

.main-menu-links {
    display: flex;
    gap: 10px;
    align-items: center;
}

a {
    margin: 5px;
    padding: 5px;
}

.header-container {
    display: flex;
    justify-content: flex-end;
}

.left-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.right-container {
    display: flex;
    align-items: center;
    padding: 40px;
}
.right-container > img {
    max-width: 100%;
}

.content-main {
    display: flex;
    flex-direction: column;
}

.content-main h1 {
    text-align: center;
    padding: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 1;
}

.card-image {
    height: 150px;
    margin-bottom: 10px;
}
.card-image > img {
    height: 100%;
}

.card-description {
    margin: 5px 0px;
}

.content-other {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-quote {
    padding: 5px 100px 0px 100px;
}

.text-quote-author {
    text-align: right;
    padding-right: 30vw;
}
